<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <h2 class="fw-light"><strong>Profil de l'utilisateur</strong> </h2>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-blue"
                            style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="{{user.profil.avatar}}" ng-if="!!link" alt="Avatar" class="img-fluid my-5"
                                style="width: 80px;" />
                            <h5 *ngIf="!modify">{{user.profil.nom}}</h5>
                            <input type="text" *ngIf="modify" class="form-control" [(ngModel)]="user.profil.nom"
                                placeholder="Nom">
                            <p>{{user.profil.club}}</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">{{user.profil.mail}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted" *ngIf="!modify">{{user.profil.tel}}</p>
                                        <input type="text" *ngIf="modify" class="form-control"
                                            [(ngModel)]="user.profil.tel" placeholder="Téléphone">
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Statut</h6>
                                        <p class="text-muted">{{user.profil.statut}}</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Modification du profil</h6>
                                        <button type="button" *ngIf="!modify" class="btn btn-primary" (click)="modification()">
                                            <i-bs name="sliders"></i-bs><strong>Modify</strong>
                                        </button>
                                        <button type="button" *ngIf="modify" class="btn btn-primary" (click)="save()">
                                            <i-bs name="sliders"></i-bs><strong>save</strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>