
    <div class="container h-100">
        <div class="row h-100 align-items-center">
          <h1 class="fw-light"><strong>Tourneo</strong> </h1>
          <div class="col-12 text-center">
            <section>
              <h3>Inscription </h3>

              <form class="form-signin"  (submit)="AddToFire()" #f="ngForm">
                <div class="w-100 p-3">
                    <label class="form-label"> Nom</label>
                    <input type="text"  class="form-control" name="nom" [(ngModel)]="user.mail" #ctlId="ngModel"
                      required placeholder="Nom">
                  </div>
                <div class="w-100 p-3">
                  <label class="form-label"> Adresse Mail</label>
                  <input type="text"  class="form-control" name="mail" [(ngModel)]="user.mail" #ctlId="ngModel"
                    required placeholder="Adresse Mail">
                </div>
                <div class="w-100 p-3">
                  <label class="form-label"> Mot de passe</label>
                  <input name="pass" type="password" class="form-control" #ctlPass="ngModel" [(ngModel)]="user.mdp"
                    required placeholder="Mot de Passe">
                </div>
                <div class="w-100 p-3">
                    <label class="form-label"> Avatar</label>
                    <input type="text"  class="form-control" name="Avatar" [(ngModel)]="user.mail" #ctlId="ngModel"
                      required placeholder="Lien de votre photo">
                  </div>
                  <div class="w-100 p-3">
                    <label class="form-label"> Telephone</label>
                    <input type="text"  class="form-control" name="tel" [(ngModel)]="user.mail" #ctlId="ngModel"
                      required placeholder="Telephone">
                  </div>
                  <div class="w-100 p-3">
                    <label class="form-label"> club</label>
                    <input type="text"  class="form-control" name="club" [(ngModel)]="user.mail" #ctlId="ngModel"
                       placeholder="Votre CLUB">
                  </div>
                  <div class="w-100 p-3">
                    <label class="form-label"> Statut</label>
                    <input type="text"  class="form-control" name="statut" [(ngModel)]="user.mail" #ctlId="ngModel"
                       placeholder="Statut">
                  </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit" value="Connextion"
                  [disabled]="f.invalid">Connexion</button>

              </form>
            </section>

          </div>
        </div>
      </div>
