
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <h1 class="fw-light"><strong>Tourneo</strong> </h1>
        <div class="col-12 text-center">
          <section>
            <h3>Connectez-vous </h3>

            <form class="form-signin"  (submit)="checkFromFire()" #f="ngForm">
              <div class="w-100 p-3">
                <label class="form-label"> Identifiant</label>
                <input type="text"  class="form-control" name="id" [(ngModel)]="id.mail" #ctlId="ngModel"
                  required placeholder="Identifiant">
              </div>
              <div class="w-100 p-3">
                <label class="form-label"> Mot de passe</label>
                <input name="pass" type="password" class="form-control" #ctlPass="ngModel" [(ngModel)]="id.passe"
                  required placeholder="Mot de Passe">
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit" value="Connextion"
                [disabled]="f.invalid">Connexion</button>

            </form>
          </section>

        </div>
      </div>
    </div>
